<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
  <div class="container-fluid">
    <!-- Brand -->
    <a
      class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block"
      routerLinkActive="active"
      [routerLink]="['/dashboard']"
      >{{ getTitle() }}</a
    >
    <!-- User -->

    <div class="media align-items-center">
      <span class="avatar avatar-sm rounded-circle">
        <img alt="Image placeholder" src="assets/img/theme/Admin Avatar.jpg" />
      </span>
      <div class="media-body ml-2 d-none d-lg-block">
        <span class="mb-0 text-sm text-white">Balti Administrator</span>
      </div>
    </div>
  </div>
</nav>
