<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <!-- Card stats -->
  <!-- Page content -->

  <!-- Dark table -->
  <mat-spinner *ngIf="loading; else yes"></mat-spinner>
  <ng-template #yes>
    <div class="container text-center">
      <div class="row mt-5 mb-5 pb-5">
        <div class="col-lg-12">
          <div class="card bg-default shadow">
            <div class="card-header bg-transparent border-0">
              <h3 class="text-white mb-0">ALL USERS</h3>
            </div>
            <div class="table-responsive">
              <table
                mat-table
                [dataSource]="dataSource"
                class="mat-elevation-z8"
              >
                <ng-container matColumnDef="Name">
                  <th mat-header-cell *matHeaderCellDef>Name</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.name }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="Role">
                  <th mat-header-cell *matHeaderCellDef>Role</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.role }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="Email">
                  <th mat-header-cell *matHeaderCellDef>Email</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.email }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="Phoneno">
                  <th mat-header-cell *matHeaderCellDef>Phoneno</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.Phoneno }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="Address">
                  <th mat-header-cell *matHeaderCellDef>Address</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.Address }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef>Actions</th>
                  <td mat-cell *matCellDef="let row">
                    <button
                      mat-button
                      class="btn btn-primary my-4"
                      (click)="ViewId(row._id)"
                    >
                      View Restaurent
                    </button>
                  </td>
                </ng-container>

                <!-- <ng-container matColumnDef="Actions">
                  <th mat-header-cell *matHeaderCellDef>Actions</th>
                  <td mat-cell *matCellDef="let row">
                    <button
                      mat-button
                      class="btn btn-primary my-4"
                      (click)="viewSeller(row.createdby)"
                    >
                      View Resturent
                    </button>
                  </td>
                </ng-container> -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>
              </table>
              <mat-paginator
                [pageSizeOptions]="[5, 10]"
                showFirstLastButtons
              ></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
